.tp_crowdfunding_widget > * {
    margin-bottom: 10px;
}

.tp_gauge {
    border-radius: 3px;
    background-color: #ccc;
    height: 35px;
}

.tp_mercury {
    width: 0;
    height: inherit;
    background-color: #800;
    border-radius: 3px 0 0 3px;
}

.tp_crowdfunding_widget form input[type="submit"] {
    display: block;
    margin-right: auto;
    margin-left: auto;
    font-size: 140%;
    margin-bottom: 15px;
}

.tp_quantities img {
    cursor: pointer;
    margin: 1px;
}

.tp_error { color: #800; }
.tp_error:before { content: "Error: "; }

.tp_feedback {
    font-size: 120% !important;
    font-weight: bold;
    text-align: center;
}

.tp_feedback.tp_error {
    text-align: left;
}

.tp_feedback small {
    display: block;
    text-align: left;
}

.tp_info {
    font-size: 120%;
    font-weight: bold;
    line-height: 130%;
}

.tp_remaining_days {
    display: block;
    padding-left: 24px;
    background: transparent url(remaining_days.png) 2px center no-repeat;
}
.tp_remaining_days:after { content: " day(s) left"; }
html[lang="fr-FR"] .tp_remaining_days:after { content: " jours(s) restant(s)"; }

.tp_max:before { content: " over "; }
html[lang="fr-FR"] .tp_max:before { content: " sur "; }

.tp_deadline { display: block; }
.tp_deadline:before { content: "Until: "; }
html[lang="fr-FR"] .tp_deadline:before { content: "Jusqu'au "; }

.tp_quantities_number {
    display: block;
    padding-left: 24px;
    background: transparent url(quantities_number.png) left center no-repeat;
}
.tp_quantities_number:after { content: " suscriber(s)"; }
html[lang="fr-FR"] .tp_quantities_number:after { content: " souscripteur(s)"; }

.tp_goody {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.tp_goody:hover {
    background-color: #eee;
}

.tp_goody .tp_label {
    float: right;
    background-color: #999;
    color: white;
    padding: 3px 5px;
    margin-top: -3px;
    border-radius: 2px;
}

.tp_goody .tp_tax_free {
    color: green;
    margin-left: 5px;
    font-size: smaller;
}

.tp_goody .tp_tax_free:before { content: "("; }
.tp_goody .tp_tax_free:after { content: " after tax cut)"; }
html[lang="fr-FR"] .tp_goody .tp_tax_free:after { content: " après déduction)"; }

.tp_goody .tp_tax_free:empty { display: none; }

.tp_goody .desc {
    padding-top: 5px;
    margin: 0 !important;
}
